
@{
    ViewData["Title"] = "Budget";
}

<h1>Budget</h1>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Budget" asp-action="Budget">Add Budget</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Budget" asp-action="Budget">My Income</a>
</div>

<div>
    <h2>Your Budgets</h2>
</div>
