@model UserModel
@{
}

<div class="nav-bar">
    <a class="nav-link text-dark" asp-area="" asp-controller="Budget" asp-action="Budget">My Budgets</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>

</div>


<h1>HomePage</h1>
<h2>UserID @ViewData["UserID"]</h2>

