@model UserModel
@{
    int UserID = (int)ViewData["UserID"];
    UserManager oUserManager = new UserManager(); 
    UserModel oUser = oUserManager.GetUser(UserID); 
}

<div class="nav-bar">
    <a class="nav-link text-dark" asp-area="" asp-controller="Budget" asp-action="Budget">My Budgets</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>

</div>


<h1>HomePage</h1>
<h2>Hello @oUser.FirstName</h2>

