html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E8E8E8;
}

.page-section {
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #B1EDE8;
    outline: 1px solid;
}

.page-sub-section {
    outline: 1px solid;
    background-color: #fff2e6;
}

.breathing-room {
    padding-top: 10px;
    padding-bottom: 10px;
}

